<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Clientes</title>
</head>
<body>
    <h1>Lista de clientes</h1>
    <ul>
        {% for cliente in object_list %}
        <li>{{ cliente.nome }}</li>
        {% endfor %}
        <input type="submit" value="Criar Cliente" onclick="location.href = '{% url 'create' %}'">
    </ul>
</body>
</html>